body {
  overflow: auto;
}
#left-menu h5 {
  margin-top: 0;
}
#ex-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  z-index: 1;
}
