body {
  width: 100%;
  height: 100%;
  font-family: Verdana, sans-serif !important;
  overflow-y: scroll !important;
}
.container-fluid .fa {
  font-size: 20px;
}

.navbar-default {
  height: 55px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.navbar-default .fa {
  color: #5f6368 !important;
}

.navbar-brand {
  padding-top: 0 !important;
  color: #5f6368 !important;
  margin-top: 5px;
}

#push-it {
  cursor: pointer;
  padding-top: 15px! important;
}

#go-back {
  font-size: 45px;
}

#go-back:hover {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.15);
}

#app-name {
  color: #5f6368;
  font-size: 18px;
  font-weight: 600;
  margin: 15px 5px 5px 5px;
}

#left-side {
  min-width: 275px;
  height: calc(100% - 57px);
  display: inline-block;
  position: absolute;
  left: -280px;
  padding-left: 10px;
  padding-right: 10px;
}

#main-content {
  padding-left: 10px;
}

#main-wrap {
  margin-top: 65px;
}