body {
  width: 100%;
  height: 100%;
  font-family: Verdana, sans-serif !important;
  /*overflow-y: auto !important;*/
}
.navigation {
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);*/
  border-radius: 0;
  position: relative;
  min-height: 50px;
  margin-bottom: 10px;
  border: 1px solid #e7e7e7;
  background-color: #f8f8f8;
}
.navigation-nav {
  float: left;
  margin: 0;
}
.navig {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navigation-nav > li {
  float: left;
}
.navigation-right {
  float: right !important;
  margin-right: -15px;
}
.navig > li > a {
  position: relative;
  display: block;
  padding: 13px 15px;
}
.navig > li > a:hover, .navig > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.navigation-default .fa {
  color: #5f6368 !important;
}
.container-fluid .fa {
  font-size: 20px;
}
.navigation-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navigation-right .dropdown-menu {
  right: 0;
  left: auto;
}
.navigation-brand {
  float: left;
  height: 50px;
  padding: 0 8px;
  font-size: 18px;
  line-height: 20px;
}
.dropdown-menu .list-group {
  margin-bottom: 0 !important;
}
.dropdown-menu .list-group-item {
  border: 0 !important;
}
.menu-link {
  padding: 10px 15px;
  white-space: nowrap;
  color: #3c4043;
}
#push-it {
  cursor: pointer;
  padding-top: 16px !important;
}
#app-name {
  color: #5f6368;
  font-size: 18px;
  font-weight: 600;
  margin: 15px 5px 5px 5px;
}
.navigation-default {
  width: 100%;
}
#main-content {
  padding-left: 10px;
}
.settings-menu a {
  display: block;
  font-size: 14px;
}
.settings-menu a:hover {
  background-color: rgba(0, 0, 0, 0.17);
  text-decoration: none;
  color: #3c4043;
}
.list-group-item-text {
  white-space: nowrap;
}
.dropdown-menu hr {
  margin: 7px 0;
}
